<a href="https://colab.research.google.com/github/josvin92/DS501/blob/master/Copy_of_DDI_landing_example_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question from <a href="https://www.interviewqs.com">Data Interview Qs</a> - sign up to receive a few DS questions/week via email.



---

Suppose you have a dataframe, df, with the following records:

In [0]:
import pandas as pd

raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
                'age': [20, 19, 22, 21],
                'favorite_color': ['blue', 'blue', 'yellow', "green"],
                'grade': [88, 92, 95, 70]}

df = pd.DataFrame(raw_data)
df.head()

   age favorite_color  grade              name
0   20           blue     88    Willard Morris
1   19           blue     92       Al Jennings
2   22         yellow     95      Omar Mullins
3   21          green     70  Spencer McDaniel

The dataframe is showing information about students. Write code using Python Pandas to select the rows where the students' favorite color is blue or yellow and their grade is above 90.

---

**Solution**:

In [0]:
#define array of target colors
fav_color_filter = ['blue', 'yellow']
#To select rows whose column value is in an iterable array, which we defined as fav_color_filter, we can use isin
df = df.loc[df['favorite_color'].isin(fav_color_filter)]
#next, we need to filter on scores above 90. here we can use loc on our dataframe:
df = df.loc[(df['grade'] >= 90)]

#As we can see the resultant dataframe returns 
#the records with students who have the favorite color blue or yellow as well as a grade >=90.
df.head()

   age favorite_color  grade          name
1   19           blue     92   Al Jennings
2   22         yellow     95  Omar Mullins